<%= form_with url: conditions_path, method: :get, data: { turbo_frame: "conditions_results" } do |f| %>
  <%= f.text_field :query, placeholder: "Search conditions..." %>
  <%= f.submit "Search" %>
<% end %>

<%= turbo_frame_tag "conditions_results" do %>
  <% if search_results&.any? %>
    <% search_results.each do |condition| %>
      <div><%= condition.name %> <%= button_to 'Add', user_conditions_path, params: { condition_id: condition.id }, method: :post %></div>
    <% end %>
  <% end %>
<% end %>
